@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --ff-roboto: 'Roboto', sans-serif;
    --clr-main: #1892d3;
    --clr-white: #fefdfb;
    --clr-accent: #e9b532;
    --clr-background: #e1e8f0;
    --clr-light-text: #878787;
    --svg-white: invert(91%) sepia(2%) saturate(537%) hue-rotate(347deg) brightness(109%) contrast(99%);

    font-size: 16px;
    font-family: var(--ff-roboto);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 150px 1fr;
    min-height: 100vh;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: var(--clr-white);
    display: grid;
    grid-template-columns: minmax(250px, 3fr) minmax(220px, 1fr);
    grid-template-rows: 1fr 1fr;
    padding: 0 30px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 0;
}

.header > div {
    display: flex;
    align-items: center;
}

.header .search-bar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.header input[type="search"] {
    font-size: 1.1rem;
    background-color: var(--clr-background);
    border: none;
    border-radius: 2rem;
    padding: 0.2rem 0.6rem;
    width: 95%;
    margin-right: 20px;
}

.header .profile-indicator {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-content: flex-end   ;
    gap: 30px;
}

.profile-indicator .user-picture {
    height: 50px;
    border-radius: 50%;
}

.profile-indicator h2 {
    font-size: 1.4rem;
}

.header .current-view {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-content: flex-start;
    font-size: 1.6rem;
    margin-bottom: 5px;
}

.header .buttons {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-content: center;
    gap: 25px;
}

.buttons button {
    background-color: var(--clr-main);
    color: var(--clr-white);
    width: 100px;
    padding: 10px 10px;
    border-radius: 50px;
    border: none;
    font-weight: bold;
    border: 2px solid var(--clr-main);
    cursor: pointer;
}

.buttons button:hover {
    background-color: var(--clr-white);
    color: var(--clr-main);
}

.buttons button:active {
    background-color: var(--clr-main);
    color: var(--clr-white);
}

.header img {
    height: 25px;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: var(--clr-main);
    color: var(--clr-white);
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 40px;
    padding: 10px 20px;
}

.sidebar img {
    filter: var(--svg-white);
}

.sidebar .title {
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title .logo {
    height: 70px;
}

.title h1 {
    font-size: 1.8rem;
}

.title p {
    font-size: 0.8rem;
    margin-left: 22px;
}

.sidebar .title .text-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar {
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 40px;
}

.navbar .status-group {
    grid-row: 1 / 2;
}

.navbar .user-lists {
    grid-row: 2 / 3;
}

.navbar .preferences {
    grid-row: 3 / 4;
}

.navbar li {
    display: flex;
    align-items: center;
    margin: 20px 0;
    font-weight: bold;
    font-size: 1.1rem;
}

.navbar img {
    height: 25px;
    margin-right: 15px;
}

.book-area {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: var(--clr-background);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: max-content;
    gap: 25px;
    padding: 30px 20px;
}

.book-card {
    width: auto;
    background-color: var(--clr-white);
    padding: 30px 20px;
    border-radius: 10px;
    border-left: 10px solid var(--clr-accent);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

/* New book form style */

.new-book-card {
    background-color: var(--clr-white);
    padding: 20px 20px;
    border: 3px solid var(--clr-main);
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-18%, -40%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-book-card * {
    display: block;
}

.new-book-card h3 {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.new-book-card label {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 6px;
    margin-left: 8px;
}

.new-book-card input[type="text"],
.new-book-card input[type="tel"] {
    width: 350px;
    font-size: 1rem;
    font-family: var(--ff-roboto);
    margin-bottom: 16px;
    background-color: var(--clr-background);
    border: none;
    border-radius: 2rem;
    padding: 0.2rem 0.6rem;
}

.new-book-card label[for="read"] {
    display: inline;
}
.new-book-card input[type="checkbox"] {
    display: inline;
    height: 1rem;
    width: 1rem;
    margin-left: 20px;
}

.new-book-card button {
    background-color: var(--clr-main);
    color: var(--clr-white);
    width: 100px;
    padding: 10px 10px;
    margin: 30px auto 0 auto;
    border-radius: 50px;
    border: none;
    font-weight: bold;
    border: 2px solid var(--clr-main);
    cursor: pointer;
}

.new-book-card button:hover {
    background-color: var(--clr-white);
    color: var(--clr-main);
}

.new-book-card button:active {
    background-color: var(--clr-main);
    color: var(--clr-white);
}